{% extends "base.njk" %}

{% block bodyBlock %}
    <div class="row row-cols-2">
        <div class="col-3">
            {% block sidebar %}
                <p>Sidebar content goes in here. Make sure you override the <code>sidebar</code> block</code></p>
            {% endblock %}
        </div>
        <div class="col-9">
            {% block content %}
                <p>Main content goes in here. Make sure you override the <code>content</code> block</p>
            {% endblock %}
        </div>
    </div>
{% endblock %}