---
title: Sample Tutorial
layout: twocolumncontent.njk

tags: [setup, cut settings, image]
difficulty: beginner
contentType: tutorial
compatibility: [GCode, DSP]

sidebarQuickrefs: [sample]
---

<h2>Overview</h2>
<p>Summary describing what the user should expect to do and learn. Sets expectations & helps with searchability</p>
<p class="placeholder-wave">
    <span class="placeholder col-10"></span>
    <span class="placeholder col-8"></span>
    <span class="placeholder col-11"></span>
    <span class="placeholder col-7"></span>
</p>

<h2>What you'll need</h2>
<p>List of what user should know/have before starting. For tutorials, this should be pretty minimal, but helps prevent mid-tutorial frustration. Provide links to where they can learn/acquire what they need.</p>
<ul class="placeholder-wave">
    <li><span class="placeholder col-5"></span></li>
    <li><span class="placeholder col-12"></span></li>
    <li><span class="placeholder col-9"></span></li>
</ul>

<h2>Steps</h2>
<p>Actual steps of the tutorial. Each step should have produce some visible result. Remember that for a tutorial this should be much more handholdy than any other content we'd create. We should figure out what we want steps to look like; I'm keeping it very simple for now</p>

<h3>Step 1</h3>
<div class="row row-cols-1 row-cols-md-2">
    <div class="col col-md-3 col-lg-2">
        <figure class="figure">
            <img src="https://via.placeholder.com/200" class="figure-img img-fluid rounded" alt="alt text here">
            <figcaption class="figure-caption">Caption for the image</figcaption>
        </figure>
    </div>

    <div class="col col-md-9 col-lg-10">
        <p class="placeholder-wave">
            <span class="placeholder col-11"></span>
            <span class="placeholder col-9"></span>
            <span class="placeholder col-12"></span>
            <span class="placeholder col-6"></span>
            <span class="placeholder col-7"></span>
            <span class="placeholder col-3"></span>
            <span class="placeholder col-5"></span>
            <span class="placeholder col-9"></span>
        </p>
    </div>
</div>

<h3>Step 2</h3>
<div class="row row-cols-1 row-cols-md-2">
    <div class="col col-md-3 col-lg-2">
        <figure class="figure">
            <img src="https://via.placeholder.com/200" class="figure-img img-fluid rounded" alt="alt text here">
            <figcaption class="figure-caption">Caption for the image</figcaption>
        </figure>
    </div>

    <div class="col col-md-9 col-lg-10">
        <p class="placeholder-wave">
            <span class="placeholder col-6"></span>
            <span class="placeholder col-10"></span>
            <span class="placeholder col-12"></span>
            <span class="placeholder col-11"></span>
            <span class="placeholder col-9"></span>
            <span class="placeholder col-5"></span>
            <span class="placeholder col-6"></span>
            <span class="placeholder col-2"></span>
        </p>
    </div>
</div>

<h3>Step 3</h3>
<div class="row row-cols-1 row-cols-md-2">
    <div class="col col-md-3 col-lg-2">
        <figure class="figure">
            <img src="https://via.placeholder.com/200" class="figure-img img-fluid rounded" alt="alt text here">
            <figcaption class="figure-caption">Caption for the image</figcaption>
        </figure>
    </div>

    <div class="col col-md-9 col-lg-10">
        <p class="placeholder-wave">
            <span class="placeholder col-11"></span>
            <span class="placeholder col-10"></span>
            <span class="placeholder col-12"></span>
            <span class="placeholder col-7"></span>
            <span class="placeholder col-3"></span>
            <span class="placeholder col-8"></span>
            <span class="placeholder col-5"></span>
            <span class="placeholder col-9"></span>
            <span class="placeholder col-11"></span>
            <span class="placeholder col-4"></span>
        </p>
    </div>
</div>

<h2>What's next</h2>

<p class="placeholder-wave">Recommend next tutorial and other useful resources. 
    <span class="placeholder col-11"></span>
    <span class="placeholder col-8"></span>
    <span class="placeholder col-10"></span>
    <span class="placeholder col-7"></span>
    <span class="placeholder col-4"></span>
    <span class="placeholder col-12"></span>
    <span class="placeholder col-8"></span>
    <span class="placeholder col-9"></span>
    <span class="placeholder col-10"></span>
    <span class="placeholder col-4"></span>
</p>