---
title: Sample Function Page
layout: functionpagelayout.njk

tags: [text, variable text]
contentType: functionpage
compatibility: [DSP, GCode, Galvo]

featuredQuickrefs: [group, sample]
---
{#
TO DO/Suggestions

- Add Sections for: 
    - Related Functions (list of any related or easily confused functions e.g Grouping will link to boolean modifiers)
    - Change history (Just a list of changes e.g. V1.1 -Introduced,V1.2 Added 'homing' feature and changed menu path from Edit>Home to Laser> Home)
    - Projects (could the site automatically pull a list of any projects that link to this page?)
#}

<h2>Overview</h2>
<p>Summary of what the function(s) do. See <span class="fw-bold">why</span> in Billie's outline in "Function Pages and Card Template"</p>
<p class="placeholder-wave">
    <span class="placeholder col-10"></span>
    <span class="placeholder col-8"></span>
    <span class="placeholder col-11"></span>
    <span class="placeholder col-7"></span>
</p>

<h2>Usage</h2>
<p>Additional usage info. Might include helpful diagrams and additional options</p>
<p class="placeholder-wave">
    <span class="placeholder col-10"></span>
    <span class="placeholder col-8"></span>
    <span class="placeholder col-11"></span>
    <span class="placeholder col-7"></span>
</p>

<h2>Related Resources</h2>
<p>What's next, links to projects and guides, links to additional explainers, related functions quick tips.</p>
<p class="placeholder-wave">
    <span class="placeholder col-11"></span>
    <span class="placeholder col-9"></span>
    <span class="placeholder col-12"></span>
    <span class="placeholder col-6"></span>
    <span class="placeholder col-7"></span>
    <span class="placeholder col-3"></span>
    <span class="placeholder col-5"></span>
    <span class="placeholder col-9"></span>
</p>
<ul class="placeholder-wave">
    <li><span class="placeholder col-5"></span></li>
    <li><span class="placeholder col-12"></span></li>
    <li><span class="placeholder col-9"></span></li>
</ul>
<p class="placeholder-wave">
    <span class="placeholder col-8"></span>
    <span class="placeholder col-6"></span>
    <span class="placeholder col-4"></span>
    <span class="placeholder col-11"></span>
    <span class="placeholder col-5"></span>
</p>

<h2>Troubleshooting and help</h2>
<p>Where to get help, plus (possibly) some quick tips for troubleshooting</p>
<p class="placeholder-wave">
    <span class="placeholder col-6"></span>
    <span class="placeholder col-8"></span>
    <span class="placeholder col-11"></span>
    <span class="placeholder col-5"></span>
    <span class="placeholder col-4"></span>
</p>