---
title: Quickref Sample
layout: default.njk
---
{# 
TO DO/ Suggestions:
 - Add feilds:
     - last modified (version) 
     - related functions (list of links to other cards, e.g group would have ungroup, autogroup, Boolean
 - Split windows and mac hotkeys
 #} 
{% set sample = quickrefs.sample %}

<div class="alert alert-info">
    If we want, we can add tabs to the cards to switch between sets of content. Not sure if that's really something we
    want, but leaving that info here
</div>

<div class="card col-4">
    <img class="card-img-top" src="{{ sample.featuredImg }}" alt="featured image for {{ sample.displayName }}">
    <div class="card-body">
        <h4 class="card-title">{{ sample.displayName }}</h4>
        <p class="card-text">{{ sample.description }}</p>
        <hr>
        <div class="row row-cols-1 row-cols-md-2">
            <div class="col col-md-3">
                <h5>Menu</h5>
            </div>
            <div class="col col-md-9 d-flex flex-column flex-md-row gap-2">
                <div>
                    <img src="{{ sample.ui.icon }}" alt="" class="">
                </div>
                <p>{{ sample.ui.menu }}</p>
            </div>
        </div>
        <hr>
        <div class="row row-cols-1 row-cols-md-2">
            <div class="col col-md-3">
                <h5>Hotkeys</h5>
            </div>
            <div class="col col-md-9 d-flex flex-column flex-md-row gap-2 align-items-baseline">
                <p><kbd>{{ sample.hotkeys.pc }}</kbd> / <kbd>{{ sample.hotkeys.mac }}</kbd></p>
            </div>
        </div>
        <hr>
        <div class="row row-cols-1 row-cols-md-2">
            <div class="col col-md-3">
                <h5>Works with</h5>
            </div>
            <div class="col col-md-9 d-flex flex-column flex-md-row gap-2">
                <div>
                    {% for item in sample.compatibility %}
                        <p class="badge text-bg-primary">{{ item }}</p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

