---
title: Sample Project
layout: twocolumncontent.njk

tags: [cut settings, image, text]
---
{# 
TO DO/ Suggestions:
    - add feild above for "laser type" (e.g CO2, Diode, Galvo) so people can filter projects
    - change numbering so that second level is A,B,C,D to avoid confusion
 #} 

<h2>Overview</h2>
<p>Summary of the project. Sets expectations & helps with searchability. Answers the question 'Why spend the time to learn this thing?'</p>
<p class="placeholder-wave">
    <span class="placeholder col-10"></span>
    <span class="placeholder col-8"></span>
    <span class="placeholder col-11"></span>
    <span class="placeholder col-7"></span>
</p>

<h2>You will learn:</h2>
<p>learning outcomes here. e.g 
    <li>How to use a free puzzle generator and import it into LightBurn. </li>
    <li>How to add a border to your puzzle (Offset tool)</li>
    <li>How to create fancy custom-shaped pieces (Draw and Node Edit tools)</li>
    <li>How to add your photo</li>
    <li>How to set up your job in the optimal workflow (Layer/Cut Settings) </li>
</p>
<ul class="placeholder-wave">
    <li><span class="placeholder col-5"></span></li>
    <li><span class="placeholder col-12"></span></li>
    <li><span class="placeholder col-9"></span></li>
</ul>

<h2>You will need:</h2>
<p>Materials (note if they need settings), templates, and other downloads used for the project</p>
<ul class="placeholder-wave">
    <li><span class="placeholder col-5"></span></li>
    <li><span class="placeholder col-12"></span></li>
    <li><span class="placeholder col-9"></span></li>
</ul>
<p>Include <a href="#">downloads</a> here too, if relevant.</p>

<h2>Steps</h2>
<p>The process of creating the project. Depending on the project, these might be very detailed or might be a briefer overview.</p>

<h3>Step 1</h3>
<div class="row row-cols-1 row-cols-md-2">
    <div class="col col-md-3 col-lg-2">
        <figure class="figure">
            <img src="https://via.placeholder.com/200" class="figure-img img-fluid rounded" alt="alt text here">
            <figcaption class="figure-caption">Caption for the image</figcaption>
        </figure>
    </div>

    <div class="col col-md-9 col-lg-10">
        <p class="placeholder-wave">
            <span class="placeholder col-11"></span>
            <span class="placeholder col-9"></span>
            <span class="placeholder col-12"></span>
            <span class="placeholder col-6"></span>
            <span class="placeholder col-7"></span>
            <span class="placeholder col-3"></span>
            <span class="placeholder col-5"></span>
            <span class="placeholder col-9"></span>
        </p>
    </div>
</div>

<h3>Step 2</h3>
<div class="row row-cols-1 row-cols-md-2">
    <div class="col col-md-3 col-lg-2">
        <figure class="figure">
            <img src="https://via.placeholder.com/200" class="figure-img img-fluid rounded" alt="alt text here">
            <figcaption class="figure-caption">Caption for the image</figcaption>
        </figure>
    </div>

    <div class="col col-md-9 col-lg-10">
        <p class="placeholder-wave">
            <span class="placeholder col-6"></span>
            <span class="placeholder col-10"></span>
            <span class="placeholder col-12"></span>
            <span class="placeholder col-11"></span>
            <span class="placeholder col-9"></span>
            <span class="placeholder col-5"></span>
            <span class="placeholder col-6"></span>
            <span class="placeholder col-2"></span>
        </p>
    </div>
</div>

<h3>Step 3</h3>
<div class="row row-cols-1 row-cols-md-2">
    <div class="col col-md-3 col-lg-2">
        <figure class="figure">
            <img src="https://via.placeholder.com/200" class="figure-img img-fluid rounded" alt="alt text here">
            <figcaption class="figure-caption">Caption for the image</figcaption>
        </figure>
    </div>

    <div class="col col-md-9 col-lg-10">
        <p class="placeholder-wave">
            <span class="placeholder col-11"></span>
            <span class="placeholder col-10"></span>
            <span class="placeholder col-12"></span>
            <span class="placeholder col-7"></span>
            <span class="placeholder col-3"></span>
            <span class="placeholder col-8"></span>
            <span class="placeholder col-5"></span>
            <span class="placeholder col-9"></span>
            <span class="placeholder col-11"></span>
            <span class="placeholder col-4"></span>
        </p>
    </div>
</div>

<h2>What's next</h2>

<p class="placeholder-wave">Where to get help (support email, forum post (maybe we have a post for each project so all questions can be collated?)), How to use these new skills in different ways by varying the project, Projects that might be good to follow-on with, links to reference material for the tools used, other useful resources/templates/websites. 
    <span class="placeholder col-11"></span>
    <span class="placeholder col-8"></span>
    <span class="placeholder col-10"></span>
    <span class="placeholder col-7"></span>
    <span class="placeholder col-4"></span>
    <span class="placeholder col-12"></span>
    <span class="placeholder col-8"></span>
    <span class="placeholder col-9"></span>
    <span class="placeholder col-10"></span>
    <span class="placeholder col-4"></span>
</p>