---
title: Home
layout: default.njk
---

<h1>List of all pages</h1>
<ul>
    {% for item in collections.all %}
        <li><a href="{{ item.url }}" class="btn btn-primary">{{ item.data.title }}</a></li>
    {% endfor %}
</ul>

